body {
    background: url(../img/logos.png) bottom right no-repeat fixed;
}

.dates {
    margin-bottom: 20px;
}

input {
  width:100px !important;
}

.navbar-collapse {
    border-bottom: #aaa 1px solid;
}

body {
    background-color: #efefef;
}

.panel {
    -webkit-box-shadow: 2px 2px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 13px 0px rgba(50, 50, 50, 0.75);
}

.full {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}