{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cyber Craft Chart Demo</title>
    <meta name="description" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="/static/vendor/angular-charts/angular-chart.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body ng-app="cc_chart">

<div class="container">

    <div class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Cyber Craft Chart Demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://bitbucket.org/ilysenko/cc/src">View on
                    BitBucket</a></li>
            </ul>
        </div>
    </div>

    {% verbatim %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="dates" ng-controller="ccDateCtrl">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="fromDate">from Date</label>
                        <input type="text" class="form-control"
                               id="fromDate" data-date-format="yyyy-MM-dd"
                               data-date-type="string"
                               data-min-date="{{minDate}}"
                               data-start-date="{{minDate}}" ng-model="fromDate"
                               data-autoclose="true" bs-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="toDate">to Date</label>
                        <input type="text" class="form-control" id="toDate"
                               data-date-type="string"
                               data-date-format="yyyy-MM-dd"
                               data-max-date="{{maxDate}}"
                               data-start-date="{{maxDate}}" ng-model="toDate"
                               data-autoclose="true" bs-datepicker>
                    </div>
                    <button class="btn btn-primary"
                            ng-disabled="!fromDate && !toDate"
                            ng-click="refreshCharts(fromDate, toDate)">Filter
                    </button>
                    <button class="btn btn-default pull-right"
                            ng-click="resetCharts(fromDate, toDate)">Reset
                    </button>
                </form>
            </div>
        </div>
        {% endverbatim %}
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="line-chart" ng-controller="ccCharCtrl">
            <div class="panel panel-default" ng-class="fullScreen">
                <div class="panel-heading">Passing and failing builds per day
                    <button class="btn btn-primary pull-right btn-default btn-xs"
                            ng-click="toggle()">Toggle Type
                    </button>


                </div>
                <div class="panel-body">
                    <div>
                        <canvas id="line" class="chart chart-bar" data="data"
                                chart-type="type"
                                labels="labels" legend="true" series="series">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="build-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Avarage Build Time by Hours</div>
                <div class="panel-body">
                    <div ng-controller="ccDurationsCtrl">
                        <canvas id="build" class="chart chart-line" data="data"
                                labels="labels" legend="false">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="abnormal-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Passing and failing builds per day
                    (Abnormal)
                </div>
                <div class="panel-body">
                    <div ng-controller="ccAbnormalCtrl">
                        <canvas id="abnormal" class="chart chart-bar"
                                data="data"
                                labels="labels" legend="true" series="series">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="/static/vendor/angular-charts/angular-chart.min.js"></script>
<script src="/static/vendor/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
